@import url("https://fonts.googleapis.com/css?family=Abel|Nova+Flat");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 6.6rem;
  margin-bottom: 3.5rem;
}
h3 {
  font-size: 3.6rem;
}
.title-hero {
  background: rgba(245, 245, 245, 0.883);
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 20%;
  font-family: "Russo One";
  // font-family: 'Abel';
  // font-family: 'Nova Flat';
  font-weight: 700;
}
.skill-hero {
  background: rgba(116, 115, 115, 0.897);
  color: whitesmoke;
  width: 100vw;
  // height: 50vh;
  padding-top: 65px;
  padding-bottom: 100px;
  position: absolute;
  top: 15%;
  font-family: "Nova Flat";
  // font-weight: 700;
  .skill {
    padding: 30px;
    margin: 10px 20px;
    width: 170px;
    p {
      // font-family: 'Abel';
      font-size: 1.3rem;
      margin-top: 10px;
    }
    .skill-image {
      height: 100px;
    }
  }
}
.project-hero {
  justify-content: flex-start;
  font-family: "Nova Flat";
  font-weight: 700;
  background: rgba(245, 245, 245, 0.76);
  // position: absolute;
  padding: 25px;
  padding-bottom: 100px;
  width: 100vw;
  height: 105vh;
  top: 20%;
  .portfolio-title {
    border-bottom: 1px solid black;
    font-size: 3rem;
    padding: 25px 60px;
  }
  .fa-arrow {
    font-weight: 400;
    font-size: 1.6rem;
    text-align: right;
    margin: 20px;
    text-decoration: underline;
    color: blue;
  }
}
.about-hero {
  background: rgba(97, 97, 97, 0.897);
  color: whitesmoke;
  width: 100vw;
  padding-top: 65px;
  padding-bottom: 100px;
  // position: absolute;
  // top: 20%;
  h3 {
    font-family: "Nova Flat";
    margin-bottom: 50px;
  }
  img {
    height: 230px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 2;
    width: 100%;
  }
  .about-text {
    background-color: #111538;
    width: 70vw;
    height: 650px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 3%;
  }
}
// @media (max-width: 1950px) {
//   .about-hero {
//     p {
//       // font-size: 22px;
//     }
//   }
// }
@media (max-width: 1600px) {
  .about-hero {
    img {
      height: 200px;
    }
  }
}
@media (max-width: 1450px) {
  .about-hero {
    img {
      height: 180px;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1300px) {
  .about-hero {
    .about-text {
      padding: 40px;
    }
    img {
      height: 180px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
    }
  }
  .skill-hero{
    padding-top: 30px;
    padding-bottom: 50px;
    .skill{
      .skill-image{
        height: 70px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .about-hero {
    .about-text {
      p {
        font-size: 17px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .about-hero {
    .about-text {
      p {
        font-size: 16px;
      }
      img{
        height: 170px;
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 1000px) {
  h1{
    font-size: 5.6rem;
  }
  h3{
    font-size: 3rem
  }
  .about-hero {
    .about-text {
      p {
        font-size: 14px;
      }
      img{
        height: 160px;
        margin-bottom: 40px;
      }
    }
  }
}
@media (max-width: 840px) {
  h1{
    font-size: 4.6rem;
  }
  h3{
    font-size: 2.6rem
  }
  .skill-hero {
    .skill {
      padding: 25px;
      margin: 20px;
      width: 100px;
      .skill-image {
        height: 70px;
      }
    }
  }
}
@media (max-width: 775px) {
  .project-hero{
  .portfolio-title {
    font-size: 2rem;
    padding: 25px 45px;
  }
}
  .about-hero {
    .about-text {
      p {
        font-size: 13px;
      }
      img{
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
}
@media(max-width: 675px){
  h1{
    font-size: 3.8rem;
  }
  h3{
    font-size: 2.2rem
  }

}
@media(max-width: 650px){
  .project-hero{
    height: 90vh;
  }
}
@media (max-width: 635px) {
  .about-hero {
    .about-text {
      p {
        font-size: 12px;
      }
      img{
        height: 140px;
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 600px) {
  .about-hero {
    .about-text {
      p {
        font-size: 12px;
      }
      img{
        height: 120px;
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 540px) {
  .about-hero {
    .about-text {
      p {
        font-size: 11px;
      }
      img{
        height: 120px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.6rem;
  }

  .skill-hero {
    .skill {
      padding: 10px;
      margin: 10px;
      .skill-image {
        height: 50px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 465px) {
  .about-hero {
    .about-text {
      p {
        font-size: 10px;
      }
      img{
        height: 100px;
        margin-bottom: 20px;
      }
    }
  }
  .project-hero{
    height: 80vh;
  }
}
