@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");

.projects-container {
  font-family: "Nova Flat";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // width: 50vw;
  padding-bottom: 20px;
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 1.5rem 0 1.3rem 0;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }
  a {
    color: blue;
  }
  a:visited {
    color: blue;
  }
  .vid-div {
    margin: 15px 0;
    width: 100%;
    // padding-left: calc((100% - 65vw) / 2)
  }
  .project-video {
    // width: 710px; //710 : 400 is correct ratio
    // height: 400px;
    width: 100%;
    height: calc(850px * 40 / 71);
  }
  h4 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0 30px 0;
  }
  .kodewars-pic {
    width: 100%;
  }
}
button.slick-arrow.slick-prev::before {
  font-size: 50px;
  position: relative;
  left: -8vw !important;
  transform: translate(50%);
  z-index: 10;
  color: #32708f;
}
button.slick-arrow.slick-next::before {
  position: relative;
  font-size: 50px;
  left: 8vw !important;
  transform: translate(-50%);
  z-index: 10;
  color: #32708f;
}
.slider {
  width: 850px;
  //   margin: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .slider {
    width: 750px;
  }
  .projects-container {
    .project-video {
      height: calc(750px * 40 / 71);
    }
  }
}

@media (max-width: 1000px) {
  .slider {
    width: 550px;
  }
  .projects-container {
    .project-video {
      height: calc(550px * 40 / 71);
    }
  }
}

@media (max-width: 800px) {
  .slider {
    width: 550px;
  }
  .projects-container {
    .project-video {
      height: calc(550px * 40 / 71);
    }
  }
  button.slick-arrow.slick-prev::before {
    font-size: 30px;
    left: -2vw !important;
  }
  button.slick-arrow.slick-next::before {
    font-size: 30px;
    left: 2vw !important;
  }
}
@media (max-width: 650px) {
  .slider {
    width: 450px;
  }
  .projects-container {
    .project-video {
      height: calc(450px * 40 / 71);
    }
    h2 {
      font-size: 1.6rem;
      margin: 1.5rem 0 1.3rem 0;
    }
    p {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 1.6rem;
      margin: 20px 0 30px 0;
    }
  }
  button.slick-arrow.slick-prev::before {
    font-size: 30px;
    left: -2vw !important;
  }
  button.slick-arrow.slick-next::before {
    font-size: 30px;
    left: 2vw !important;
  }
}
@media (max-width: 575px) {
    .slider {
      width: 350px;
    }
    .projects-container {
      h2 {
        font-size: 1.6rem;
        margin: 1.5rem 0 1.3rem 0;
      }
      p {
        font-size: 1rem;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 1.4rem;
        margin: 20px 0 30px 0;
      }
      .project-video {
        height: calc(350px * 40 / 71);
      }
    }
    button.slick-arrow.slick-prev::before {
      font-size: 30px;
      left: -2vw !important;
      top: 50px;
    }
    button.slick-arrow.slick-next::before {
      font-size: 30px;
      left: 2vw !important;
      top: 50px;
    }
}

@media (max-width: 465px) {
  .slider {
    width: 275px;
  }
  .projects-container {
    .project-video {
      height: calc(275px * 40 / 71);
    }
  }
  button.slick-arrow.slick-prev::before {
    font-size: 15px;
    left: -1vw !important;
  }
  button.slick-arrow.slick-next::before {
    font-size: 15px;
    left: 1vw !important;
  }
}
