.home-container{
    height: 100vh;
    width: 100vw;
    /* background: url(http://www.zotographics.com/blog_img//istock_000053598896_large_korr2.jpg) 0 0 / cover; */
    background: url(https://i.ibb.co/hXwL0BG/portfolio-collage-2.jpg) 0 0 / cover;
}
.image-overlay{
    height: 100vh;
    width: 100vw;
    background: url(http://www.zotographics.com/blog_img//istock_000053598896_large_korr2.jpg) 0 0 / cover;
    display: none;
}