html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.body{
  height: 100vh;
  width: 100vw;
}
.nav{
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #111538;
  border-right: #a1a1a1 1px solid;
  transition: .5s;
  z-index: 10;
}
.nav-slide{
  left: 0;
}
.nav-items-container{
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  position: relative;
  
}
.close-menu-button{
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  transition: .7s;
  cursor: pointer;
}
.close-menu-button:hover{
  font-size: 18px;
  font-weight: 800;
  transform: translate(-1px);
}
.large-nav-links{
  height: 30px;
  font-size: 24px;
  margin: 10px;
  color: white;
  transition: .1s ease-in-out;
  cursor: pointer;

}
.large-nav-links:hover{
  font-size: 26px;
  font-weight: 700;
}
.menu-button{
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 20px; 
  height: 50px;
  width: 170px;
  font-size: 20px;
  background-color: #bdbdbd;
  border: 1px solid #111538;
  border-radius: 3px;
  transition: .5s;
    outline: none;
}
.menu-icon{
  margin-right: 5px;

}
.menu-button:hover{
  border: #bdbdbd 1px solid;
  background-color: #111538;
  color: whitesmoke;
}
.menu-icon:hover{
  color: whitesmoke;
}



@media(max-width: 700px){
  .menu-word{
    display: none;
  }
  .menu-icon{
    margin-right: 0;
    color: white;
  }
  .menu-button{
    background: #11153873;
    width: 60px;
    border: white 1px solid;
    color: white;
  }
}