.body{
  height: 100vh;
  width: 100vw;
}
.nav{
  position: absolute;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: rgb(17, 21, 56);
  transition: .5s;
}
.nav-slide{
  right: 0;
}
.nav-items-container{
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.close-menu-button{
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 700;
  transition: .7s;
  cursor: pointer;
}
.close-menu-button:hover{
  font-size: 18px;
  font-weight: 800;
  transform: translate(-1px);
}
.large-nav-links{
  height: 20px;
  margin: 10px;
  padding: 5px;
  color: white;
  transition: .3s;
  cursor: pointer;

}
.large-nav-links:hover{
  padding: 4px;
  font-size: 18px;
  font-weight: 700;
  transform: translate(0 -2px)
}
.menu-button{
  position: absolute;
  top: 15px;
  right: 20px; 
}